*{
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    font-family: "Lexend Deca", sans-serif;
    
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    height: 450px;
    width: 830px;
    display: flex;
    
    
}
.inner-container{
    padding: 35px;   
    display: flex;
    flex-direction: column;
    gap: 25px;
}

p{
    width: 180px;
    font-size: 15px;
}
.container{
    flex-grow: 1;
}
button{
    width: 150px;
    padding: 12px;
    border-radius: 50px;
    margin-top: 45px;
}
.one button{
    color:hsl(31, 77%, 52%) ;
}
.two button{
    color:hsl(184, 100%, 22%);
}
.three button{
    color: hsl(179, 100%, 13%);
}

.one{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
.two{
    background-color: hsl(184, 100%, 22%);
}
.three{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
h1{
    font-family: "Big Shoulders Display", sans-serif;
}
